@font-face {
    font-family: "lato-regular";
    src: url(.//fonts/lato-regular.woff2);
}

@font-face {
    font-family: "lato-light";
    src: url(.//fonts/Lato-Light.ttf);
}

@font-face {
    font-family: "manrope-light";
    src: url(.//fonts/manrope-light.otf);
}

@font-face {
    font-family: "WixMadeforDisplay-Bold";
    src: url(.//fonts/WixMadeforDisplay-Bold.ttf);
}

@font-face {
    font-family: "WixMadeforDisplay-Regular";
    src: url(.//fonts/WixMadeforDisplay-Regular.ttf);
}


@font-face {
    font-family: "WixMadeforDisplay-extraBold";
    src: url(.//fonts/WixMadeforDisplay-ExtraBold.ttf);
}


.feature-section-parent{
}

.feature-section{
    height: 90vh;
    width: 85vw;
    border-radius: 25px;
    background: rgb(255, 255, 255);
    /* border: solid 1px rgb(244, 243, 243); */
    /* box-shadow: 1px 5px 10px rgba(234, 255, 223, 0.5); */
    /* background: radial-gradient(circle,rgba(148,187,233,1)  0%, rgba(238,174,202,1)250%); */
    background: linear-gradient(150deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.6) 100%);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom:10vh;

    background:
    radial-gradient(rgb(242, 242, 242) 3px, transparent 4px),
    radial-gradient(rgb(243, 243, 243) 3px, transparent 4px),
    linear-gradient(#ffffff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #ededed 75px, #ececec 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #ebebeb 76px, #f1f1f1 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background: linear-gradient(150deg, rgba(83, 132, 255, 0.5) 0%, rgb(255, 86, 64) 100%);

    transform: rotateX(10deg); /* Use 90deg for horizontal rotation */


   /* transform: translate3d(0px, -4.4169%, 0px) scale3d(1, 1, 1) rotateX(50deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d; */

    
}

.section-header{
    font-size: 280%;
    text-align: center;
    font-weight: 100;
    font-family: "WixMadeforDisplay-extraBold";
     letter-spacing: 1px;
     word-spacing: 2px;
     
     padding-top: 2vh;
     line-height: 7vh;
     margin-top: -2vh;

     /* background: linear-gradient(150deg, rgb(182, 0, 179) 0%, rgb(3, 96, 201) 100%);
     -webkit-background-clip: text;
     background-clip: text;
     color: transparent;
     width: fit-content; */
     color: rgb(255, 255, 255);

}

.sub-heading{
    font-size: 130%;
    text-align: center;
    font-family: "WixMadeforDisplay-regular";
    letter-spacing: 1px;
    word-spacing: 2px;
    color: rgb(193, 193, 193);
    padding-bottom: 2vh;
}

.section-partition{
    display: flex;
    flex-direction: row;
}

.right-section{
    background-color: #a3ebe5;
   
    height: 90vh;
    width: 40vw;
    right: 5vw;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
    border-radius: 15px;
    background-color: transparent;
    overflow-x: hidden;
}

.left-section{
    margin-top: 0vh;
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: auto;
    margin-bottom: auto;

}

.feature-switcher{
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    align-items: center;
}

.progress-bar-section{
    padding-left: 8vmin;
    padding-right: 3vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.up-icon{
    height: 50px;
    width: auto;
    /* background-color: rgb(239, 226, 240); */
    padding: 1.5vmin;
    border-radius: 50%;
    /* border: solid 2px rgb(0, 0, 0); */
    background-color: rgb(233, 232, 254);
    ;
    cursor: pointer;
}



.down-icon{
    height: 50px;
    width: auto;
    padding: 1.5vmin;
    border-radius: 50%;
    /* border: solid 2px rgb(0, 0, 0); */
    cursor: pointer;
    background-color: white;
    background-color: rgb(233, 232, 254);
}


.down-icon:hover{
    box-shadow: 0 15px 30px rgba(255, 255, 255, 0.7);
    transition: all 1s ease;
}


.up-icon:hover{
    box-shadow: 0 -15px 30px rgba(255, 255, 255, 0.7);
    transition: all 1s ease;
}

/* .indicate-to-click{
    animation: attractArrow 1s ease-in-out infinite alternate;
} */
/* 
@keyframes attractArrow {
    from{
        border: solid 2px rgb(0, 0, 0);
        box-shadow: none;
    }
    to{
        border: solid 2px rgb(70, 70, 70);
        box-shadow: 0 10px 20px rgba(255, 255, 255, 0.5);
    }
} */

.feature-bar{
    position: relative;
    height: 25vh;
    width: 0.15vw;
    background-color: rgb(0, 0, 0);
    background-color: rgb(233, 232, 254);
}

.feature-progress-bar{
    height: 5vh;
    width: 0.25vw;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: -0.05vw;
    transition: all 0.5s ease;
    background-color: rgb(18, 137, 248);
}

.feature-headings-section{
    font-size: 130%;
    font-family: "WixMadeforDisplay-regular";
    letter-spacing: 1px;
    word-spacing: 2px;
    color: rgb(29, 29, 29);
    padding-left: 1vmin;
    line-height: 6vmin;
    font-weight: 900;
}

.feature-heading{
    transition: all 0.1s ease;
}

.feature-selected{
    font-size: 140%;
    line-height: 7vmin;
    color: rgb(0, 0, 0);
    font-family: "WixMadeforDisplay-bold";
    padding: 2px 15px;
    background-color: rgb(248, 244, 244);
    border-radius: 10px;
    transition: all 1s ease;

}

.phone-bg{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    top: -60px;
    left: 80px;
    opacity: 0.6;
}

.background-stars{
    background-color: #a3ebe5;
}
.image-container {
    position: relative;
    width: 100%; /* Set your desired width */
    height: 60vh; /* Set your desired height */
    /* overflow: hidden; */
    /* padding: 20px; */
}
.phone-drops-bg{
    width: 80%;
    height: 95%;
    position: absolute;
    top: 10%;
    left: 10%;
    background-image: url('../assert/images/Drawing.png'); /* Set the path to your background image */
    background-size: cover; /* Adjust based on your needs */
    background-position: center; /* Adjust based on your needs */
    opacity: 0.4;
    animation: popdance 4s ease infinite;
}

@keyframes popdance {
    0% {
        transform:scale(1)
    }
    50% {
        transform:scale(1.02)
    }
    100% {
        transform:scale(1)
    }
} 

.phone-screen{
    max-height: 55vh;
    width: 80%;
    object-fit: contain;
    z-index: 1;
    transform: rotateX(0deg) rotateY(0deg);
    transform: scale(1.045);
    /* transition: transform 2s ease; */
            object-fit: cover; /* Ensure the image covers the container */
            position: absolute;
            top: 10%;
            left: 0;
}

.phone-screen-rotate{
    animation: tiltPhone 2s ease;
}

@keyframes tiltPhone {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(1.045)
    }
}

.feature-description{
    font-size: 140%;
    color: rgb(34, 33, 33);
    font-family: "WixMadeforDisplay-regular";
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
    padding: 5vmin;
    font-weight: 700;
    transition: all 2s ease;
    z-index: 1;
    font-weight: 900;
    line-height: 5vh;
    height: 18vh;
    margin-top: -20vh;
    /* background-color: #a3ebe5; */
}

.get-staretd-button{
    background-color: rgb(231, 228, 228);
    text-align: center;
    align-self: center;
    border-radius: 10px;
    font-family: "WixMadeforDisplay-regular";
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 700;
    font-size: 90%;
    padding: 1.5vmin 4vmin;
    text-transform: capitalize;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: rgb(238,174,202);
    background: linear-gradient(150deg, rgb(247, 182, 210)0%, rgb(148, 233, 217) 100%);
    color: rgb(45, 45, 45);
    background:  rgb(234, 234, 234);
    background-color: rgb(8, 8, 8);
    color: rgb(255, 255, 255);
    z-index: 1;
    margin-bottom: 10vh;
}

  .corner-circle {
    position: relative;
    width: 50vh;
    height: 50vh;
    right: 200px;
    bottom: -50px;
    right: -50px;

    background: radial-gradient(closest-side, #a6e0f9, #ffffff, white);
    background: radial-gradient(circle closest-side at center, #ccc7ff 80%, transparent 100%, transparent);
    transition: all 3s ease;


}


.mobile-screen-container {
    position: relative;
  }
  
  .phone-screen {
    width: 200px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    max-height: 50vh;
    height: 50vh;
    width: 100%;
    object-fit: contain;
    /* z-index: 1; */
    /* transform: rotateX(10deg) rotateY(10deg); */
    transition: transform 2s ease;
  }




  .line{
    width: 70%;
    height: 70px;
    position: relative;
    overflow: hidden;
    span{
        position: absolute;
        font-size: 5rem;
        line-height: 42rem;
      }
  }


  .mobile-3d{
    margin-left: auto ;
    margin-right: auto ;
    background-color: transparent;
    margin-left: 12vw;
    margin-top: 10vh;

   scale: 1.1;
  }

  



